{% extends "base.html" %}
{% block content %}



<h1 class="mb-24 text-4xl  text-center  font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Upcoming Events</h1>


{% if events %}
<div class="card-container flex mt-10">
    {% for event in events %}
        <div class="card mx-24">
            <strong><a href="{% url 'event_detail' event.id %}">{{ event.event_name }}</a></strong><br>
            Date: {{ event.event_date }}<br>
            Type: {{ event.event_type }}<br>
            {% if event.thumbnail %}
                <img src="{{ event.thumbnail.url }}" alt="{{ event.event_name }} thumbnail" style="max-width: 400px; max-height: 400px;">
            {% else %}
                No thumbnail available.
            {% endif %}
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div><div class="card-container">
        {% endif %}
    {% endfor %}
</div>
{% else %}
    <p>No events found.</p>
{% endif %}

{% endblock %}
