<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <label for="user_type">Select user type:</label>
        <select name="user_type" id="user_type">
            <option value="external">External Participant</option>
            <option value="student">Student</option>
            <option value="volunteer">Volunteer</option>
            <option value="organizer">Organizer/Judge</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
