{% extends 'base.html' %}

{% block content %}
  <h2>Organizer Dashboard</h2>
  
  {% if created_events %}
    {% for event in created_events %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ event.event_name }}</h5>
          <p class="card-text">{{ event.event_type }}</p>
          <!-- Add other event details as needed -->
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>No events created yet.</p>
  {% endif %}
{% endblock %}
